<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huifu.odin.dal.mapper.FrzLogMapper">
  <resultMap id="BaseResultMap" type="com.huifu.odin.dal.entity.FrzLog">
    <id column="ACCT_DATE" jdbcType="CHAR" property="acctDate" />
    <id column="ACCT_SEQ_ID" jdbcType="VARCHAR" property="acctSeqId" />
    <result column="CUST_ID" jdbcType="VARCHAR" property="custId" />
    <result column="SUB_ACCT_ID" jdbcType="VARCHAR" property="subAcctId" />
    <result column="TRANS_TYPE" jdbcType="CHAR" property="transType" />
    <result column="FRZ_STAT" jdbcType="CHAR" property="frzStat" />
    <result column="TRANS_AMT" jdbcType="VARCHAR" property="transAmt" />
    <result column="FRZ_CODE" jdbcType="VARCHAR" property="frzCode" />
    <result column="SYS_TIME" jdbcType="CHAR" property="sysTime" />
    <result column="UNFRZ_DATE" jdbcType="CHAR" property="unfrzDate" />
    <result column="UNFRZ_SEQ" jdbcType="VARCHAR" property="unfrzSeq" />
    <result column="TRANS_NAME" jdbcType="VARCHAR" property="transName" />
    <result column="TRANS_OBJ" jdbcType="VARCHAR" property="transObj" />
    <result column="FRT_TXN_ID1" jdbcType="VARCHAR" property="frtTxnId1" />
    <result column="FRT_TXN_ID2" jdbcType="VARCHAR" property="frtTxnId2" />
    <result column="FRT_TXN_ID3" jdbcType="VARCHAR" property="frtTxnId3" />
    <result column="SYS_ID" jdbcType="VARCHAR" property="sysId" />
    <result column="FRT_DATE" jdbcType="CHAR" property="frtDate" />
    <result column="FRT_SEQ_ID" jdbcType="VARCHAR" property="frtSeqId" />
  </resultMap>
  <sql id="Base_Column_List">
    ACCT_DATE, ACCT_SEQ_ID, CUST_ID, SUB_ACCT_ID, TRANS_TYPE, FRZ_STAT, TRANS_AMT, FRZ_CODE, 
    SYS_TIME, UNFRZ_DATE, UNFRZ_SEQ, TRANS_NAME, TRANS_OBJ, FRT_TXN_ID1, FRT_TXN_ID2, 
    FRT_TXN_ID3, SYS_ID, FRT_DATE, FRT_SEQ_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.huifu.odin.dal.entity.FrzLogKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FRZ_LOG
    where ACCT_DATE = #{acctDate,jdbcType=CHAR}
      and ACCT_SEQ_ID = #{acctSeqId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.huifu.odin.dal.entity.FrzLogKey">
    delete from FRZ_LOG
    where ACCT_DATE = #{acctDate,jdbcType=CHAR}
      and ACCT_SEQ_ID = #{acctSeqId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huifu.odin.dal.entity.FrzLog">
    insert into FRZ_LOG (ACCT_DATE, ACCT_SEQ_ID, CUST_ID, 
      SUB_ACCT_ID, TRANS_TYPE, FRZ_STAT, 
      TRANS_AMT, FRZ_CODE, SYS_TIME, 
      UNFRZ_DATE, UNFRZ_SEQ, TRANS_NAME, 
      TRANS_OBJ, FRT_TXN_ID1, FRT_TXN_ID2, 
      FRT_TXN_ID3, SYS_ID, FRT_DATE, 
      FRT_SEQ_ID)
    values (#{acctDate,jdbcType=CHAR}, #{acctSeqId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, 
      #{subAcctId,jdbcType=VARCHAR}, #{transType,jdbcType=CHAR}, #{frzStat,jdbcType=CHAR}, 
      #{transAmt,jdbcType=VARCHAR}, #{frzCode,jdbcType=VARCHAR}, #{sysTime,jdbcType=CHAR}, 
      #{unfrzDate,jdbcType=CHAR}, #{unfrzSeq,jdbcType=VARCHAR}, #{transName,jdbcType=VARCHAR}, 
      #{transObj,jdbcType=VARCHAR}, #{frtTxnId1,jdbcType=VARCHAR}, #{frtTxnId2,jdbcType=VARCHAR}, 
      #{frtTxnId3,jdbcType=VARCHAR}, #{sysId,jdbcType=VARCHAR}, #{frtDate,jdbcType=CHAR}, 
      #{frtSeqId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huifu.odin.dal.entity.FrzLog">
    insert into FRZ_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="acctDate != null">
        ACCT_DATE,
      </if>
      <if test="acctSeqId != null">
        ACCT_SEQ_ID,
      </if>
      <if test="custId != null">
        CUST_ID,
      </if>
      <if test="subAcctId != null">
        SUB_ACCT_ID,
      </if>
      <if test="transType != null">
        TRANS_TYPE,
      </if>
      <if test="frzStat != null">
        FRZ_STAT,
      </if>
      <if test="transAmt != null">
        TRANS_AMT,
      </if>
      <if test="frzCode != null">
        FRZ_CODE,
      </if>
      <if test="sysTime != null">
        SYS_TIME,
      </if>
      <if test="unfrzDate != null">
        UNFRZ_DATE,
      </if>
      <if test="unfrzSeq != null">
        UNFRZ_SEQ,
      </if>
      <if test="transName != null">
        TRANS_NAME,
      </if>
      <if test="transObj != null">
        TRANS_OBJ,
      </if>
      <if test="frtTxnId1 != null">
        FRT_TXN_ID1,
      </if>
      <if test="frtTxnId2 != null">
        FRT_TXN_ID2,
      </if>
      <if test="frtTxnId3 != null">
        FRT_TXN_ID3,
      </if>
      <if test="sysId != null">
        SYS_ID,
      </if>
      <if test="frtDate != null">
        FRT_DATE,
      </if>
      <if test="frtSeqId != null">
        FRT_SEQ_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="acctDate != null">
        #{acctDate,jdbcType=CHAR},
      </if>
      <if test="acctSeqId != null">
        #{acctSeqId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="subAcctId != null">
        #{subAcctId,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=CHAR},
      </if>
      <if test="frzStat != null">
        #{frzStat,jdbcType=CHAR},
      </if>
      <if test="transAmt != null">
        #{transAmt,jdbcType=VARCHAR},
      </if>
      <if test="frzCode != null">
        #{frzCode,jdbcType=VARCHAR},
      </if>
      <if test="sysTime != null">
        #{sysTime,jdbcType=CHAR},
      </if>
      <if test="unfrzDate != null">
        #{unfrzDate,jdbcType=CHAR},
      </if>
      <if test="unfrzSeq != null">
        #{unfrzSeq,jdbcType=VARCHAR},
      </if>
      <if test="transName != null">
        #{transName,jdbcType=VARCHAR},
      </if>
      <if test="transObj != null">
        #{transObj,jdbcType=VARCHAR},
      </if>
      <if test="frtTxnId1 != null">
        #{frtTxnId1,jdbcType=VARCHAR},
      </if>
      <if test="frtTxnId2 != null">
        #{frtTxnId2,jdbcType=VARCHAR},
      </if>
      <if test="frtTxnId3 != null">
        #{frtTxnId3,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null">
        #{sysId,jdbcType=VARCHAR},
      </if>
      <if test="frtDate != null">
        #{frtDate,jdbcType=CHAR},
      </if>
      <if test="frtSeqId != null">
        #{frtSeqId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huifu.odin.dal.entity.FrzLog">
    update FRZ_LOG
    <set>
      <if test="custId != null">
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="subAcctId != null">
        SUB_ACCT_ID = #{subAcctId,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        TRANS_TYPE = #{transType,jdbcType=CHAR},
      </if>
      <if test="frzStat != null">
        FRZ_STAT = #{frzStat,jdbcType=CHAR},
      </if>
      <if test="transAmt != null">
        TRANS_AMT = #{transAmt,jdbcType=VARCHAR},
      </if>
      <if test="frzCode != null">
        FRZ_CODE = #{frzCode,jdbcType=VARCHAR},
      </if>
      <if test="sysTime != null">
        SYS_TIME = #{sysTime,jdbcType=CHAR},
      </if>
      <if test="unfrzDate != null">
        UNFRZ_DATE = #{unfrzDate,jdbcType=CHAR},
      </if>
      <if test="unfrzSeq != null">
        UNFRZ_SEQ = #{unfrzSeq,jdbcType=VARCHAR},
      </if>
      <if test="transName != null">
        TRANS_NAME = #{transName,jdbcType=VARCHAR},
      </if>
      <if test="transObj != null">
        TRANS_OBJ = #{transObj,jdbcType=VARCHAR},
      </if>
      <if test="frtTxnId1 != null">
        FRT_TXN_ID1 = #{frtTxnId1,jdbcType=VARCHAR},
      </if>
      <if test="frtTxnId2 != null">
        FRT_TXN_ID2 = #{frtTxnId2,jdbcType=VARCHAR},
      </if>
      <if test="frtTxnId3 != null">
        FRT_TXN_ID3 = #{frtTxnId3,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null">
        SYS_ID = #{sysId,jdbcType=VARCHAR},
      </if>
      <if test="frtDate != null">
        FRT_DATE = #{frtDate,jdbcType=CHAR},
      </if>
      <if test="frtSeqId != null">
        FRT_SEQ_ID = #{frtSeqId,jdbcType=VARCHAR},
      </if>
    </set>
    where ACCT_DATE = #{acctDate,jdbcType=CHAR}
      and ACCT_SEQ_ID = #{acctSeqId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huifu.odin.dal.entity.FrzLog">
    update FRZ_LOG
    set CUST_ID = #{custId,jdbcType=VARCHAR},
      SUB_ACCT_ID = #{subAcctId,jdbcType=VARCHAR},
      TRANS_TYPE = #{transType,jdbcType=CHAR},
      FRZ_STAT = #{frzStat,jdbcType=CHAR},
      TRANS_AMT = #{transAmt,jdbcType=VARCHAR},
      FRZ_CODE = #{frzCode,jdbcType=VARCHAR},
      SYS_TIME = #{sysTime,jdbcType=CHAR},
      UNFRZ_DATE = #{unfrzDate,jdbcType=CHAR},
      UNFRZ_SEQ = #{unfrzSeq,jdbcType=VARCHAR},
      TRANS_NAME = #{transName,jdbcType=VARCHAR},
      TRANS_OBJ = #{transObj,jdbcType=VARCHAR},
      FRT_TXN_ID1 = #{frtTxnId1,jdbcType=VARCHAR},
      FRT_TXN_ID2 = #{frtTxnId2,jdbcType=VARCHAR},
      FRT_TXN_ID3 = #{frtTxnId3,jdbcType=VARCHAR},
      SYS_ID = #{sysId,jdbcType=VARCHAR},
      FRT_DATE = #{frtDate,jdbcType=CHAR},
      FRT_SEQ_ID = #{frtSeqId,jdbcType=VARCHAR}
    where ACCT_DATE = #{acctDate,jdbcType=CHAR}
      and ACCT_SEQ_ID = #{acctSeqId,jdbcType=VARCHAR}
  </update>

  <select id="queryByUniqueKey" resultMap="BaseResultMap">
		select
		ACCT_DATE, ACCT_SEQ_ID, CUST_ID, SUB_ACCT_ID, TRANS_TYPE, FRZ_STAT, TRANS_AMT,
		FRZ_CODE, SYS_TIME, UNFRZ_DATE, UNFRZ_SEQ, TRANS_NAME,
		TRANS_OBJ, FRT_TXN_ID1, FRT_TXN_ID2, FRT_TXN_ID3, SYS_ID, FRT_DATE, FRT_SEQ_ID
		from FRZ_LOG
		where 
		ACCT_DATE = #{acctDate}
		and
		ACCT_SEQ_ID = #{acctSeqId}
	</select>
</mapper>