<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 " default-autowire="byName">

    <bean id="transFacade" class="com.huifu.pegasus.client.rpc.proxy.ProxySpringBeanFactory">
		<property name="serviceName" value="http://odin.huifu.com/odin/transService_1.0.0" />
		<property name="serviceInterface" value="com.huifu.odin.facade.service.trans.TransFacade" />
        <property name="addresses" value="127.0.0.1:8911"/>
        <property name="timeout" value="50000"/>
        <property name="callMethod" value="sync"/>
	</bean>
	
</beans>
